/*===================
    bannerLiist-css
======================*/

body {
    background: #000;
}
.banner {
    width: 100%;
    height:385px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 385px;
    position: absolute;
    top:0;
    left: 0;
    background: #efefef;
}

.banner > ul>a> li  {
    float: left;
    height: 385px;
}

.banner > ul > li > a {
    display: block;
    font-size: 200px;
    text-align: center;
    line-height: 385px;
    font-weight: bold;
}

.left-btn,.right-btn {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 45%;
    right: 30px;
    background: url("../images/right-1.png");
    cursor: pointer;
}

.left-btn {
    left: 30px;
    background: url("../images/left-1.png");
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    visibility: hidden;
}

.img-btn-list > span  {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 0 5px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.img-btn-list > span.current {
    border: 3px solid rgba(0,0,0,0.8);
    background: rgba(255,255,255,0.8);
}





















