<!DOCTYPE html>
<html lang="zh"  style="width:100%;height:100%;">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{$title}</title>
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
	<script type="text/javascript" src="/static/express/js/jquery1.42.min.js"></script>
	<script type="text/javascript" src="/static/express/js/jquery.SuperSlide.2.1.1.js"></script>
	<link rel="stylesheet" href="/static/express/css/layout.css">
	<title>Document</title>
</head>
<body style="width:100%;height:100%;">
	<div class="loginbox">
		<div class="login">
			<form action="">
				<h3>欢迎登录</h3>
				<ul>
					<li>
						<img src="/static/express/images/bgi-58.png" alt="" class="img1" >
						<input type="text" placeholder="请输入账号" id="mobile">
					</li>
					<li>
						<img src="/static/express/images/bgi-59.png" alt="" class="img1">
						<input type="password" placeholder="请输入密码" id="password">
					</li>
					<li class="li1">
						<img src="/static/express/images/bgi-60.png" alt="" class="img1">
						<input type="text" placeholder="请输入验证码" class="in1" id="vercode">
						<div class="ma">
							<img src="{:url('verify')}" alt="captcha" onclick="this.src='{:url("verify")}?'+'id='+Math.random()"/>

							<a href="" class="a1">看不清，换一张</a>
						</div>
					</li>
					<li class="li1">
						<input type="button" class="btn" value="登录">
						<a href="{:url('user/login/forget')}" class="a2">忘记密码？</a>
						<a href="{:url('user/login/reg')}" class="a3">立即注册</a>
						
					</li>
				</ul>
			</form>
		</div>
	</div>
</body>

</html>

<script>

    $('.btn').click(function () {
        var mobile = $('#mobile').val();
        var password = $('#password').val();
        var vercode = $('#vercode').val();

        $.post("{:url('index')}",{username:mobile,password:password,vercode:vercode},function(res){

            if(res.code > 0){
                alert(res.msg)
                location.href = "{:url('home/index/index')}";

            }else{
                alert(res.msg)
                //    $('.captcha img').attr('src','{:url("verify")}?id='+Math.random());
            }
        });
    })
</script>