<!DOCTYPE html>
<html lang="zh" style="width:100%;height:100%;">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="{$keywords}">
    <meta name="description" content="{$description}">
    <script type="text/javascript" src="/static/express/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/static/express/js/jquery.SuperSlide.2.1.1.js"></script>
    <link rel="stylesheet" href="/static/express/css/layout.css">

</head>
<body style="width:100%;height:100%;">
<div class="loginbox">
    <div class="login">
        <form action="">
            <h3>欢迎注册</h3>
            <ul>
                <li>
                    <img src="/static/express/images/bgi-58.png" alt="" class="img1">
                    <input type="text" placeholder="+86 请输入手机号" id="mobile">
                </li>
                <li class="li1 li2">
                    <img src="/static/express/images/bgi-60.png" alt="" class="img1">
                    <input type="text" placeholder="请输入验证码" class="in1">
                    <div class="ma">
                        <input type="button" value="获取验证码" class="in2" onclick="sendCode(this)">
                    </div>
                </li>
                <li>
                    <img src="/static/express/images/bgi-59.png" alt="" class="img1">
                    <input type="password" placeholder="请输入密码" id="password">
                </li>

                <li class="li1">
                    <input type="button" class="btn" value="注册">
                    <a href="{:url('user/login/index')}">已有账号，立即登录</a>
                </li>
            </ul>
        </form>
    </div>
</div>
</div>
</body>

<script>

    $('.btn').click(function () {
        var mobile = $('#mobile').val();
     //   alert(mobile)
        var password = $('#password').val();
        $.post("{:url('reg')}",{mobile:mobile,password:password},function(res){

            if(res.code > 0){
                alert(res.msg)
                    location.href = "{:url('home/index/index')}";

            }else{
            alert(res.msg)
            //    $('.captcha img').attr('src','{:url("verify")}?id='+Math.random());
            }
        });
    })
</script>
<script>

    var clock = '';
    var nums = 60;
    var btn;

    function sendCode(thisBtn) {
        btn = thisBtn;
        btn.disabled = true; //将按钮置为不可点击
        btn.value = nums + '秒后可重新获取';
        clock = setInterval(doLoop, 1000); //一秒执行一次
    }

    function doLoop() {
        nums--;
        if (nums > 0) {
            btn.value = nums + '秒后可重新获取';
        } else {
            clearInterval(clock); //清除js定时器
            btn.disabled = false;
            btn.value = '获取验证码';
            nums = 60; //重置时间
        }
    }
</script>
</html>