<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{$sys.title}</title>
    <script src="/static/express_mobile/js/mui.min.js"></script>
    <script src="/static/express_mobile/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="/static/express_mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/express_mobile/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/express_mobile/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/express_mobile/css/swiper.min.css" />
</head>