{include file="common/header"/}
	<style type="text/css">
		header img {
			width: 100%;
		}
		
		.tr_main {
			padding-top: .2rem;
			background-color: #FFF;
			padding-bottom: 1.3rem;
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
		}
		.mui-table-view{
			width: 100%;
			background-color: #efeff0;
			color: #ff6200;
		}
		.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
			color: #ff6200;
		}
	</style>

	<body style="background-color:#FFF;">
		<header>
			<img src="{$image}"/>
		</header>
		<div class="tr_main">
			<ul class="mui-table-view">
				{volist name="list" id="vo"}
				<li class="mui-table-view-cell mui-collapse mui-active">
					<a class="mui-navigate-right" href="javascript:">{$vo.title}</a>
					<div class="mui-collapse-content">
						<p>职责
							{$vo.content|raw}
						</p>

					</div>
				</li>
				{/volist}
			</ul>
		</div>
		{include file="common/footer"/}