{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				{include file="common/position"/}
				<div class="ov">
					{include file="common/left"/}
					<div class="rightMain fr">
						<div class="pageTitle">{$title}</div>
						<div class="pageNewsList">
							<ul>
								{volist name="list" id="vo"}
								<li>
									<a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}"> <label>{$vo.title}</label>
										<p>{:toDate($vo["createtime"],'Y-m-d')}</p>
									</a>
								</li>
								{/volist}
							</ul>
						</div>

							{$page|raw}

					</div>
				</div>
			</div>
		</div>
{include file="common/footer"/}