{include file="common/head"/}
<div class="bodyWrap">
    <!-- 主体区 s-->
    <div class="mainbody cent">
        <div class="tongzhi lineh40 ">
            <!-- listScroll-x|y #5 s-->
            <!-- include jcMarquee.js & component.less #5 &底部滚动通知script -->
            <div id="Marquee_x" class="ov">
                <ul style="width: 1000%;">
                    <li class="">
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2045.htm">俄罗斯国际空运专线快递</a>
                        </div>

                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2001.htm">2018年国际快递价格调整通知</a>
                        </div>

                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/1991.htm">2018年DHL出口价格表</a>
                        </div>
                    </li>
                    <li class="clone">
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2045.htm">俄罗斯国际空运专线快递</a>
                        </div>
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2001.htm">2018年国际快递价格调整通知</a>
                        </div>
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/1991.htm">2018年DHL出口价格表</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- listScroll-x|y #5 e-->
        </div>
        <div class="">
            <div class="two-wrap ckwl">
                <div class="two-wrap-item">
                    <h1>FBA头程</h1>
                    <p>我们可以提供印度、日本、欧洲、美国的FBA转运服务，是三态速递新增的一项服务，支持多种发货方式。</p>
                    <div class="two-wrap-item-img"></div>
                </div>
                <div class="two-wrap-item">
                    <h1>沃虎专线</h1>
                    <p>我们可以提供印度、日本、欧洲、美国的FBA转运服务，是三态速递新增的一项服务，支持多种发货方式。</p>
                    <div class="two-wrap-item-img"></div>
                </div>
                <div class="two-wrap-item">
                    <h1>国际快递</h1>
                    <p>我们可以提供印度、日本、欧洲、美国的FBA转运服务，是三态速递新增的一项服务，支持多种发货方式。</p>
                    <div class="two-wrap-item-img"></div>
                </div>
            </div>
            <div class="two-wrap zzyw">
                <div class="two-wrap-item">
                    <h1>保险服务</h1>
                    <p>我们可以提供印度、日本、欧洲、美国的FBA转运服务，是三态速递新增的一项服务，支持多种发货方式。</p>
                    <div class="two-wrap-item-img"></div>
                </div>
                <div class="two-wrap-item">
                    <h1>包装耗材</h1>
                    <p>我们可以提供印度、日本、欧洲、美国的FBA转运服务，是三态速递新增的一项服务，支持多种发货方式。</p>
                    <div class="two-wrap-item-img"></div>
                </div>
            </div>
        </div>
        <div class="mainNews">
            <div class="mainNewsLeft fl">
                <div class="main-news-menu">
                    <div class="main-news-menu-item main-news-menu-item-on">行业新闻</div>
                    <div class="main-news-menu-item">公司新闻</div>
                    <div class="main-news-menu-item">重要公告</div>
                    <div class="main-news-menu-item">燃油附加费</div>
                    <div class="main-news-menu-item">常见问题</div>
                </div>
                <div class="main-news-list">
                    <ul>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <label>习近平出席进博会开幕式并发表主旨演讲：开放已经成为当代中国的鲜明标识 </label>
                                <p>2018-11-06</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mainNewsRight fr">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://logzm.com/upload/2018041139100825.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://logzm.com/upload/2018041139100825.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://logzm.com/upload/2018041139100825.jpg"/>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体区 e-->

    {include file="common/footer"/}