{include file="common/head"/}

<div class="bodyWrap">
    <!-- 主体区 s-->
    <div class="mainbody cent">
        <div class="tongzhi lineh40 ">
            <!-- listScroll-x|y #5 s-->
            <!-- include jcMarquee.js & component.less #5 &底部滚动通知script -->
            <div id="Marquee_x" class="ov">
                <ul style="width: 1000%;">
                    {clist db='article' id='vo' where="posid = 1" limit='4'}
                    <li class="">
                        <div class="fl" style="margin-right: 20px;">
                            <a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}">{$vo.title}</a>
                        </div>

                        {/clist}
                    </li>
                  <!--  <li class="clone">
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2045.htm">俄罗斯国际空运专线快递</a>
                        </div>
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/2001.htm">2018年国际快递价格调整通知</a>
                        </div>
                        <div class="fl" style="margin-right: 20px;">
                            <a href="/xwzx/gdtz/1991.htm">2018年DHL出口价格表</a>
                        </div>
                    </li>-->
                </ul>
            </div>
            <!-- listScroll-x|y #5 e-->
        </div>
        <div class="">
            <div class="two-wrap ckwl">
                {volist name="express" id="vo"}
                <div class="two-wrap-item">
                    <h1>{$vo.catname}</h1>
                    <p>{$vo.description}</p>
                    <div class="two-wrap-item-img"></div>
                </div>
                {/volist}
            </div>
            <div class="two-wrap zzyw">
                {volist name="increment" id="vo"}
                <div class="two-wrap-item">
                    <h1>{$vo.catname}</h1>
                    <p>{$vo.description}</p>
                    <div class="two-wrap-item-img"></div>
                </div>
                {/volist}
            </div>
        </div>
        <div class="mainNews">
            <div class="mainNewsLeft fl">
                <div class="main-news-menu">
                    {volist name="news" id="vo"}
                    <div class="main-news-menu-item {eq name="i" value="1"}main-news-menu-item-on{/eq}">{$vo.catname}</div>
                    {/volist}
                </div>
            {volist name="news" id="v" }
                <div class="main-news-list" {gt name="i" value="1"}style="display:none"{/gt} >
                    <ul>
                        {volist name="v['content']" id="vo" key="k"}
                        <li>
                            <a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}">
                                <label>{$vo.title}</label>
                                <p>{:toDate($vo["createtime"],'Y-m-d')}</p>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            {/volist}
            </div>
            <div class="mainNewsRight fr">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {volist name="adList" id="vo" key="i"}
                        <div class="swiper-slide">
                            <img src="{$vo.pic}"/>
                        </div>
                        {/volist}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体区 e-->

    {include file="common/footer"/}