{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				<div class="Breadcrumb">
					<span>当前位置：</span>
					<span><a href="/">首页</a></span>
					<span class="breadcrumb__separator">/</span>
					<span><a href="#">站内搜索</a></span>
				</div>
				<div class="ov">
					<div class="leftNav fl">
						<div class="pageName">站内搜索</div>
						<div class="pageQrcodes">
							<div class="qrcode-item"><img src="{$sys.weixin}"></div>
							<div class="qrcode-item"><img src="{$sys.weibo}"></div>
						</div>
					</div>
					<div class="rightMain fr">
						<div class="pageTitle">站内搜索</div>
						<div class="pageNewsList">
							<ul>
								{volist name="list" id="vo"}
								<li>
									<a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}"> <label>{$vo.title}</label>
										<p>{:toDate($vo["createtime"],'Y-m-d')}</p>
									</a>
								</li>
								{/volist}
							</ul>
						</div>
						<div class="pagination">
							{$page|raw}
						</div>
					</div>
				</div>
			</div>
		</div>

{include file="common/footer"/}