{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				{include file="common/position"/}
				<div class="ov">
					{include file="common/left"/}
					<div class="rightMain fr">
						<div class="pageTitle">快件追踪</div>
						<div class="expressTrackingText">
							<div class="expressTracking-item">
								<h1>支持多单号查询</h1>
								<p>快件追踪查询框内输入运单号，一次最多追踪十个单号，使用斜杠'/'或'回车键'分隔</p>
							</div>
							<div class="expressTracking-item">
								<h1>通过唯一的运单号</h1>
								<p>能够查询从发送快件到快件送达接货人的所有环节状态</p>
							</div>
							<div class="expressTracking-item">
								<h1>条件和条款</h1>
								<p>您只能通过此跟踪系统对圆通承运的并且以您为发货方、承办方或者收货方的快件进行跟踪。如果没有圆通公司的事先许可，不得将这个跟踪系统或者有关信息用做其他用途。</p>
							</div>
							<div class="expressTracking-item">
								<h1>在线追踪系统</h1>
								<textarea name="" rows="" cols="" placeholder="最多一次性查询30个单号，每行一个"></textarea>
								<button value="">在线追踪</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{include file="common/footer"/}