{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				{include file="common/position"/}
				<div class="ov">
					{include file="common/left"/}
					<div class="rightMain fr">
						<div class="pageTitle">{$title}</div>
						<div class="expressTrackingText">
							<div class="expressTracking-item">
								<h1>快件追踪结果：<span>发往：美国，包裹，重量：5公斤</span></h1>
								<div class="expressTracking-info">
									<ul>
										<li>物流信息</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{include file="common/footer"/}