{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				{include file="common/position"/}
				<div class="ov">
					{include file="common/left"/}
					<div class="rightMain fr">
						<div class="pageTitle">{$title}</div>
						<div class="expressTrackingText">
							<div class="expressTracking-item">
								<p style="text-indent: 2em;line-height: 24px;color: #595757;">为了最大限度地保障客户的利益，更好地提高我们的服务质量，我们设置了留言反馈功能。您如果对公司方面有任何的意见和建议，都可以发送给我们知道。希望通过您的意见和建议进一步提高我们的服务水平；同时也希望您多多给予我们意见和帮助，以便我们不断完善我们的服务。</p>
							</div>
							<div class="feedback-form-item">
								<label>您的姓名:</label>
								<input />
							</div>
							<div class="feedback-form-item">
								<label>联系Email:</label>
								<input />
							</div>
							<div class="feedback-form-item">
								<label>所在地区:</label>
								<input />
							</div>
							<div class="feedback-form-item">
								<label>联系电话:</label>
								<input />
							</div>
							<div class="feedback-form-item">
								<label>意见和建议:</label>
								<textarea></textarea>
							</div>
							<div class="feedback-form-item">
								<label></label>
								<button class="feedback-form-submit">提交</button>
								<button class="feedback-form-reset">重置</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{include file="common/footer"/}