{include file="common/head"/}
		<div class="bodyWrap">
			<div class="mainbody cent">
				{include file="common/position"/}
				<div class="ov">
					{include file="common/left"/}
					<div class="rightMain fr">
						<div class="pageTitle">{$title}</div>
						<div class="order-from">
							<div class="order-from-flex">
								<h1>寄件信息</h1>
								<div class="order-form-item">
									<label>预约人姓名:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>联系电话:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>取件联系人:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>联系电话:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>取件地址:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>付款方式:</label>
									<div>
										<input name="sendtype" type="radio" />月结
										<input name="sendtype"  type="radio" />到付
										<input name="sendtype"  type="radio" />现付
									</div>
								</div>
								<div class="order-form-item">
									<label>快件类型:</label>
									<div>
										<input name="type" type="radio" />文件
										<input name="type"  type="radio" />包裹
										<input name="type"  type="radio" />PAK
									</div>
								</div>
							</div>
							<div class="order-from-flex">
								<h1>收件信息</h1>
								<div class="order-form-item">
									<label>收件人姓名:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>联系电话:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>国家:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>邮编:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>收件地址:</label>
									<input />
								</div>
								<div class="order-form-item">
									<label>备注:</label>
									<input />
								</div>
							</div>
						</div>
						<div class="order-from-button">
							<button>网上下单</button>
						</div>
					</div>
				</div>
			</div>
		</div>

{include file="common/footer"/}